In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
#creating a series
s= pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
#creating a datetimeindex
dates= pd.date_range('20130101',periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
#creating a dataframe
df=pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2013-01-01  0.055467  0.254797  1.014666 -0.568205
2013-01-02  0.026208  0.286309  0.791769  0.632645
2013-01-03 -0.478855 -0.494815  1.049331 -0.965749
2013-01-04  1.736059  0.738772  0.855504 -0.134949
2013-01-05  1.456126  0.812846 -0.550241  0.029472
2013-01-06  0.135197 -1.169044 -0.054769  1.257826

In [15]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [13]:
dataf=pd.DataFrame(np.random.randn(10,10),index=list('ABCDEFGHIJ'),columns=list('ZYXWVUTSRQ'))

In [14]:
dataf

,Z,Y,X,W,V,U,T,S,R,Q
A,-0.678178,-1.179217,-0.832261,0.317049,0.333829,0.646704,-1.278350,0.727375,0.658696,0.655941
B,-1.018008,-0.375658,0.927035,1.986482,-2.010970,1.177631,-0.231346,1.594217,-0.551451,-0.476130
C,-1.329164,-0.052103,-1.185284,0.179160,0.342166,1.318341,-1.602868,0.273928,-1.101559,0.462565
D,0.661842,0.381549,0.653526,-0.232852,1.369009,0.265987,0.100297,-0.018414,1.747002,1.036457
E,-0.260208,0.557973,-0.171838,0.914446,1.172085,-0.748644,1.410023,-1.263522,-1.155404,1.146448
F,-0.465027,0.432223,0.208547,1.452818,-0.908976,-0.247977,-0.046099,0.647726,-0.095909,-1.218171
G,1.170410,-1.564688,-0.560723,-0.333898,0.672945,-0.053408,-1.335530,-2.029085,-0.050621,1.127726
H,-0.963714,-1.464996,0.379496,-0.740839,0.661005,0.344728,1.842682,-1.791272,1.615113,0.770192
I,-0.205297,-1.873181,-0.270596,-1.706149,-0.935400,0.876031,0.792853,0.474477,-1.157093,0.834911
J,1.765216,0.435277,-0.616425,0.501529,0.410758,-0.864610,0.556475,-0.130643,0.400902,0.494786

In [16]:
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20130102'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})

In [17]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
dataf.head()

,Z,Y,X,W,V,U,T,S,R,Q
A,-0.678178,-1.179217,-0.832261,0.317049,0.333829,0.646704,-1.278350,0.727375,0.658696,0.655941
B,-1.018008,-0.375658,0.927035,1.986482,-2.010970,1.177631,-0.231346,1.594217,-0.551451,-0.476130
C,-1.329164,-0.052103,-1.185284,0.179160,0.342166,1.318341,-1.602868,0.273928,-1.101559,0.462565
D,0.661842,0.381549,0.653526,-0.232852,1.369009,0.265987,0.100297,-0.018414,1.747002,1.036457
E,-0.260208,0.557973,-0.171838,0.914446,1.172085,-0.748644,1.410023,-1.263522,-1.155404,1.146448

In [22]:
dataf.tail()

,Z,Y,X,W,V,U,T,S,R,Q
F,-0.465027,0.432223,0.208547,1.452818,-0.908976,-0.247977,-0.046099,0.647726,-0.095909,-1.218171
G,1.170410,-1.564688,-0.560723,-0.333898,0.672945,-0.053408,-1.335530,-2.029085,-0.050621,1.127726
H,-0.963714,-1.464996,0.379496,-0.740839,0.661005,0.344728,1.842682,-1.791272,1.615113,0.770192
I,-0.205297,-1.873181,-0.270596,-1.706149,-0.935400,0.876031,0.792853,0.474477,-1.157093,0.834911
J,1.765216,0.435277,-0.616425,0.501529,0.410758,-0.864610,0.556475,-0.130643,0.400902,0.494786

In [25]:
dataf.index

Index([u'A', u'B', u'C', u'D', u'E', u'F', u'G', u'H', u'I', u'J'], dtype='object')

In [33]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [43]:
df2.loc[1:]

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo